attendance/
database/*/
attendance_2024.xlsx
__pycache__
# students_details.csv
msccsai_students.db

attendance.xlsx
test1.py
Attendance App.exe
attendance3.12/
attendance38_01/
output/
.vscode/settings.json
database/ds_model_dlib_detector_dlib_aligned_normalization_base_expand_0.pkl
